body {
  font-family: 'PT Sans', sans-serif;
  font-weight: 100;
  font-size: 14px;
  line-height: 1.5;
  margin: 0;

  display: block;
  background-image: url('Images/fon_Q5zOu2P.jpg');
  height: 850px;
  width: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-color: #f1f3f2;

}

main,
footer {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
}

h1 {
  font-size: 36px;
  font-weight: 100;
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-top: 50px;
  padding-bottom: 20px;
}

h1.block-header {
  text-align: center;
  padding-top: 20px;
}

h1.block-header2 {
  text-align: center;
  padding-top: 50px;
}

h1.block-header3 {
  padding-top: 80px;
}

h1.block-header4 {
  padding-top: 80px;
  font-size: 48px;
  font-weight: bold;
  padding-left: 100px;
  padding-top: 30px;
  padding-bottom: 50px;
}

h2 {
  font-size: 28px;
  padding: 0;
  margin: 0;
}

h3 {
  font-size: 18px;
}

h3.block-header-discr {
  text-align: center;
  padding: 0;
  font-weight: 100;
}

.color-marked-text {
  color: red;

}

ul {
  margin: 0;
  padding: 0;
}

li {
  font-size: 18px;
}

p {
  margin: 0;
  font-size: 16px;
}

span {
  margin: 0;
  font-size: 24px;
}

.text-style-1 {
  font-size: 20px;
}

.text-style-2 {
  font-size: 26px;
}

.text-style-3 {
  font-size: 22px;
  color: white;
  font-weight: bold;
}

.button {
  color: white;
  text-align: center;
  background-color: red;
  font-size: 20px;
  font-weight: bold;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 0;
  padding-bottom: 0;
  height: 40px;
  border: none;
  min-width: 100px;
  margin: 0;
}

.button-1 {
  background-color: #00aeef;
  width: 210px;
}

.button-2 {
  background-color: red;
  width: 188px;
}

.button-3 {
  background-color: #00aeef;
  font-size: 17px;
}

.button-4 {

  background-color: rgba(117, 117, 117, 0);
  padding-left: 8px;
  padding-right: 8px;
  width: 147px;
  height: 50px;
  display: inline-block;
  padding-top: 10px;
}

.header {}



.header-logo {
  background-color: rgba(255, 255, 255, 0.527);
}

.header-logo-bg {
  background-color: rgba(69, 73, 84, 0.8);
  width: 100%;
  height: 100px;
}

.header-logo-main {}

.nav-bg {
  background-color: rgba(232, 232, 232, 0.8);
  width: 100%;
  height: 50px;
}

.nav-block {
  height: 100%;
}

.outer-block {
  position: relative;
  background-repeat: no-repeat;
  width: 100%;
  background-color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;

}

.inner-block {

  width: 1000px;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  background-repeat: no-repeat;
  position: relative;
  /*border: 1px dashed rebeccapurple;*/
}

.header-block {
  height: 700px;
  width: 100%;
}

.header-block-inner {
  padding-top: 150px;
  display: flex;
  flex-wrap: wrap;
  align-items: top;
  justify-content: space-around;

}

.header-block-inner div:first-of-type {
  width: 465px;
  height: 400px;

  background-color: rgba(255, 255, 255, 0.7);
}

.header-block-inner div:last-of-type {
  width: 416px;
  height: 483px;

  background-color: rgba(255, 255, 255, 0.7);
}

.header-block-inner h1 {
  margin-right: 80px;
  margin-left: 20px;
  padding-top: 30px;
}

.header-block-inner p {
  margin-left: 20px;
}





.block1-outer {
  /*background-color: rgb(255, 255, 255);*/
  background: none;
  height: 249px;
}

.block1-inner {}

.block1-inner div {
  display: inline-block;
  width: 60%;
  margin-left: 50px;
}

.block1-inner span {
  font-size: 20px;
}

.block1-inner button {
  vertical-align: top;
  margin-top: 10px;
  margin-left: 40px;
  ;
}


.block2-outer {
  background-color: rgb(255, 255, 255);
  height: 600px;
}

.block2-inner {}



.block3-outer {
  height: 320px;
  background-color: #f5fdff;
}

.block3-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.block3-inner img:first-of-type {
  width: 256px;
  height: 312px;
}

.block3-inner img:last-of-type {
  width: 130;
  height: 130px;
}

.block3-inner>div {
  width: 470px;
  height: 100%;
}

.block3-inner>div h2 {
  margin-top: 20px;
  margin-bottom: 15px;
}


.block4-outer {
  height: 614px;
  background-image: url('Images/fon1_0CzRXNH.jpg');

}

.block4-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: top;
  justify-content: space-between;


}

.block4-inner-item {
  width: 188px;


}

.block4-inner-item img,
.block4-inner-item p,
.block4-inner-item span,
.block4-inner-item button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.block4-inner-item span {
  font-size: 20px;
  text-align: center;
  color: white;
}

.block4-inner-item p {
  font-size: 16px;
  text-align: center;
  color: white;
  font-weight: bold;

}

.block5-outer {
  height: 449px;
  background-color: rgb(255, 255, 255);
}

.block5-inner {
  text-align: center;
}

.block5-inner span {
  display: block;
  font-size: 20px;

  margin-bottom: 30px;
}

.block5-inner>select {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 390px;
  height: 39px;
  font-size: 16px;
  margin-bottom: 15px;
  margin-top: 15px;
  border-radius: 0%;
}

.block6-outer {
  height: 732px;
  background-image: url('Images/slider-2_DPYbre6.jpg');
}

.block6-inner {}

.block6-inner-item {
  width: 450px;
  margin-top: 20px;
}

.block6-inner-item img {
  float: left;
  margin-right: 10px;

}

.block6-inner-submit {
  width: 296px;
  height: 243px;
  background-image: url('Images/bez-imeni-1_GxiWKXh.png');
  float: right;
  vertical-align: top;
}

.block7-outer {
  height: 1000px;
  background-color: rgb(255, 255, 255);
}

.block7-inner {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.block7-inner-item {
  width: 320px;
  height: 400px;
  text-align: center;
  padding: 0 40px 60px;
}

.block7-inner img {

  width: 280px;
  height: 280px;
}



.block8-outer {
  height: 830px;
  background-color: rgb(255, 255, 255);
}

.block8-inner {}

.block8-inner>div {

  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: -5px;
  height: 113px;


}

.block8-inner>div>p {

  float: left;
  margin-left: 40px;
  font-size: 24px;
  color: rgb(255, 249, 249);
  margin-top: 35px;
  text-align: center;
  font-weight: bold;
  width: 40px;


}

.block8-inner>div span {

  font-size: 14px;

  overflow-wrap: normal;

}

.block8-inner-discr {
  float: left;
  margin-left: 265px;
  font-size: 14px;
  margin-top: 25px;
  text-align: start;
  overflow-wrap: normal;
  width: 60%;
  /*border: 1px dashed black;*/
}

.block8-inner>div:first-of-type {
  background-image: url('Images/profil-1.jpg');
}

.block8-inner>div:nth-of-type(2) {
  background-image: url('Images/profil-2.jpg');
}

.block8-inner>div:nth-of-type(3) {
  background-image: url('Images/profil-3.jpg');
}

.block8-inner>div:nth-of-type(4) {
  background-image: url('Images/profil-4.jpg');
}

.block8-inner>div:nth-of-type(5) {
  background-image: url('Images/profil-5.jpg');
}

.block9-outer {
  height: 480px;
  background-image: url('Images/slider-3_dg4a571.jpg');
  background-position: 100% 50%;
  text-align: end;
}

.block9-inner {
  display: inline-block;
  width: 580px;
  text-align: start;
}

.block9-inner p.color-marked-text {
  font-size: 24px;
}

.block9-inner ul {
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
}


.block10-outer {
  height: 748px;
  background-color: rgb(255, 255, 255);
  background-image: url('Images/8_tpeXANT.jpg');
}

.block10-inner {}

.block10-inner .block10-list {
  display: inline-block;
  width: 320px;
  margin: 0;
  margin-left: 150px;
  margin-right: 40px;
  margin-top: 30px;
  /*border: red 1px dashed;*/
  vertical-align: top;
}

.block10-inner .block10-list:last-of-type {
  margin-right: 0;
}



.block10-list div {
  font-size: 24px;
  /*border: dashed 1px black;*/
  height: 108px;
  vertical-align: middle;
  text-align: left;

}


.block11-outer {
  height: 540px;
  background-color: rgb(255, 255, 255);
}

.block11-inner {}

.block12-outer {
  height: 550px;
  background-image: url('Images/slider-4_jxzVQgE.png');
}

.block12-inner {
  display: inline-block;
  width: 550px;
  text-align: start;
}

.block12-inner span {
  font-size: 20px;
}

.block13-outer {
  height: 800px;
  background-color: rgb(255, 255, 255);
}

.block13-inner {
  text-align: center;
  vertical-align: middle;
}

.block13-inner .gallery-2 {
  display: inline-block;

  margin: 10px;
}

.block14-outer {
  height: 728px;
  background-image: url('Images/13_8L8t838.jpg');
}

.block14-inner {}

.block14-inner h1 {
  padding-top: 20px;
}

.block15-outer {
  height: 450px;
  background-image: url('Images/slider-5.png');
  background-position: 100% 50%;
  text-align: end;
}

.block15-inner {
  display: inline-block;
  width: 520px;
  text-align: start;

}

.block15-inner ul {
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.block15-inner span {
  font-size: 20px;
}

.block16-outer {
  height: 584px;
  background-color: rgb(255, 255, 255);
}

.block16-inner {}

.gallery-1 {
  display: inline-block;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  vertical-align: top;
}

.gallery-1:nth-of-type(1) {
  margin-left: auto;
}

.gallery-1:last-of-type {
  margin-right: auto;
}

.gallery-1 p {
  font-size: 18px;
  color: rgb(122, 122, 122);
  overflow-wrap: normal;

}

.block16-gallery {
  text-align: center;
  width: 100%;
  margin-top: 60px;
}

.block17-outer {
  height: 835px;
  background-image: url('Images/slider-6_pWTAn6L.jpg');
}

.block17-outer li {
  margin-bottom: 30px;
}

.block17-inner {}

.block18-outer {
  height: 609px;
  background-color: rgb(255, 255, 255);
}

.block18-inner {
  background-image: url('Images/17.jpg');
  background-repeat: no-repeat;
  background-position: 50% 100%;
}

.block19-outer {
  height: 570px;
  background-color: rgb(255, 255, 255);
}

.block19-inner {}