body {
  font-family: 'PT Sans', sans-serif;
  font-weight: 100;
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
}

main,
footer {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
}

h1 {
  font-size: 36px;
  font-weight: 100;
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

h1.block-header {
  text-align: center;

}

h1.block-header2 {
  text-align: center;
  padding-top: 50px;
}

h3 {
  font-size: 18px;
}

h3.block-header-discr {
  text-align: center;
  padding: 0;
}

.color-marked-text {
  color: red;

}

ul {
  margin: 0;
  padding: 0;
}

li {
  font-size: 18px;
}

p {
  margin: 0;
}

span {
  margin: 0;
  font-size: 20px;
}

.button {
  color: white;
  text-align: center;
  background-color: red;
  font-size: 20px;
  font-weight: bold;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 0;
  padding-bottom: 0;
  height: 40px;
  border: none;
  min-width: 210px;

}

.button-1 {
  background-color: #00aeef;
}

.header {

  display: block;
  background-image: url('Images/fon_Q5zOu2P.jpg');
  background-repeat: no-repeat;
  background-color: #f1f3f2;
  background-position: 50% 100%;
  background-size: cover;
  width: 100%;
  height: 850px;
  z-index: 1;
}



.header-logo {
  background-color: rgba(255, 255, 255, 0.527);
}

.header-logo-bg {
  background-color: rgba(69, 73, 84, 0.8);
  width: 100%;
  height: 100px;
}

.nav-bg {
  background-color: rgba(232, 232, 232, 0.8);
  width: 100%;
  height: 50px;
}

.outer-block {
  position: relative;
  background-repeat: no-repeat;
  width: 100%;
  background-color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;

}

.inner-block {

  width: 1000px;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  background-repeat: no-repeat;
  position: relative;
  border: 1px dashed rebeccapurple;
}

.block1-outer {
  background-color: rgb(255, 255, 255);
  height: 249px;
}

.block1-inner {}

.block2-outer {
  background-color: rgb(255, 255, 255);
  height: 600px;
}

.block2-inner {}



.block3-outer {
  height: 320px;
  background-color: #f5fdff;
}

.block3-inner {}

.block4-outer {
  height: 614px;
  background-image: url('Images/fon1_0CzRXNH.jpg');

}

.block4-inner {}

.block5-outer {
  height: 449px;
  background-color: rgb(255, 255, 255);
}

.block5-inner {}

.block6-outer {
  height: 732px;
  background-image: url('Images/slider-2_DPYbre6.jpg');
}

.block6-inner {}

.block7-outer {
  height: 1000px;
  background-color: rgb(255, 255, 255);
}

.block7-inner {}

.block8-outer {
  height: 830px;
  background-color: rgb(255, 255, 255);
}

.block8-inner {}

.block9-outer {
  height: 480px;
  background-image: url('Images/slider-3_dg4a571.jpg');
}

.block9-inner {}

.block10-outer {
  height: 748px;
  background-color: rgb(255, 255, 255);
}

.block10-inner {}

.block11-outer {
  height: 540px;
  background-color: rgb(255, 255, 255);
}

.block11-inner {}

.block12-outer {
  height: 550px;
  background-image: url('Images/slider-4_jxzVQgE.png');
}

.block12-inner {}

.block13-outer {
  height: 800px;
  background-color: rgb(255, 255, 255);
}

.block13-inner {
  text-align: center;
  vertical-align: middle;
}

.block13-inner .gallery-2 {
  display: inline-block;

  margin: 10px;
}

.block14-outer {
  height: 728px;
  background-image: url('Images/13_8L8t838.jpg');
}

.block14-inner {}

.block14-inner h1 {
  padding-top: 20px;
}

.block15-outer {
  height: 450px;
  background-image: url('Images/slider-5.png');
  background-position: 100% 50%;
  text-align: end;
}

.block15-inner {
  display: inline-block;
  width: 520px;
  text-align: start;

}

.block15-inner ul {
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.block16-outer {
  height: 584px;
  background-color: rgb(255, 255, 255);
}

.block16-inner {}

.block16-inner .gallery-1 {
  display: inline-block;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  vertical-align: top;
}

.block16-inner .gallery-1:nth-of-type(1) {
  margin-left: auto;
}

.block16-inner .gallery-1:last-of-type {
  margin-right: auto;
}

.block16-inner .gallery-1 p {
  font-size: 18px;
  color: rgb(122, 122, 122);
  overflow-wrap: normal;

}

.block16-inner .block16-gallery {
  text-align: center;
  width: 100%;
  margin-top: 60px;
}

.block17-outer {
  height: 835px;
  background-image: url('Images/slider-6_pWTAn6L.jpg');
}

.block17-outer li {
  margin-bottom: 30px;
}

.block17-inner {}

.block18-outer {
  height: 609px;
  background-color: rgb(255, 255, 255);
}

.block18-inner {
  background-image: url('Images/17.jpg');
  background-repeat: no-repeat;
  background-position: 50% 100%;
}

.block19-outer {
  height: 570px;
  background-color: rgb(255, 255, 255);
}

.block19-inner {}